<style>
   iframe, object, embed {
        max-width: 100%;
        max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
    a.list-group-item{
        color: black;

    }
    a.list-group-item:hover {
  background:gray
  ;
  color: white;

}
footer{
    background-color: black;
}
</style>
{% extends "layout.html" %}
{% block title %}
   Cursos
{% endblock %}
{% block main %}
<br>
<br>
{% if session.user_id %}
<div class="row">

        {% include "gedo_templates/sidebarGEDO.html" %}

        {% if not content %}
                {% if session.rol == 2 or session.rol == 3 %}
        <div class="col-md-4">
            <br>
        <h4>Esta seccion no cuenta con informacion cargada. Desea cargar informacion?</h4>
        <br>
        <br>
        <button type="button" enable class="btn btn-primary text-right" style="height: 120px;" ><a style="color: white;" href="/nuevaSeccionGEDO/{{codigo}}">Agregar Seccion</a></button>

        {% endif %}
    </div>
        {% endif %}
        {% for courseGEDO in content %}
    <div class="col-md-8">
        {% if session.rol == 2 or session.rol == 3 %}
        <button type="button" class="btn text-right"><a href="/editarGEDO/{{courseGEDO["co_Id"]}}" style="float: right;">Editar</a></button>
        {% endif %}
        <main class="col h-100" style="background-color: white;">
        <tbody>
            {{courseGEDO["co_Contenido"]|safe}}
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </main>
</div>
</div>
{% else %}
<h3>No tienes permitido el acceso a esta seccion</h3>
{% endif %}
{% endblock %}

