{% extends "layout.html" %}

{% block title %}
   Cursos
{% endblock %}

{% block main %}
<br>
<br>
<br>
<br>
<hr>

    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-8 col-xl-8">
            {% for courseGEDO in contentToEdit %}
        <form method="post" action="/editarGEDO/{{courseGEDO["co_Id"]}}">


        <textarea name="textArea" class="editme" style="height: 600px; width: 100%;"  >
            {{courseGEDO["co_Contenido"]|safe}}
          </textarea>
          <br>
          <br>

    </div>
    <div class="col-md-4">


      <hr>


      </tr>

            <label for="titulo" style="font-weight: bolder; font-size: large;">Titulo</label>
            <input type="text" class="form-control" id="titulo" name="titulo" value= '{{courseGEDO["co_Titulo"]}}'>
          <hr>
          <label for="codigo" style="font-weight: bolder; font-size: larger;">Codigo</label>
          <input type="text" class="form-control" id="codigo" name="codigo" value={{courseGEDO["co_Codigo"]}}>
        <hr>
          <label for="usr" style="font-weight: bolder; font-size: larger;">Categoria</label>
        <br>
      <select class="form-control" name="cmb" id="cmb" style="width: 220px;" selected={{courseGEDO["co_Categoria"]}}>
        <option value="CCOO">CCOO</option>
        <option value="EE">EE</option>
        <option value="GEDO">GEDO</option>

      </select>
      {% if session.rol == 2 or session.rol == 3 %}
      <button class="btn btn-outline-primary" style="width: 300px;" type="submit">Enviar</button>
      {% endif %}
    </form>
    {% endfor %}
      <hr>
    </div>
    </div>




{% endblock %}
