{% if session.nivelacion == 1 %}
<aside class="col-md-4 col-sm-6 col-12" id="left">
  <div id="accordion">
  <div class="panel list-group">
      <a href="#web_dev" id="intro" data-parent="#accordion" data-toggle="collapse" class="list-group-item" >
          <p>Introduccion al modulo GEDO                        <span class="badge">(5)</span></p>
      </a>
      <div class="collapse" id="web_dev">
          <ul class="list-group-item-text">
            <li><a href="/verNotas/GEDO/1321" data-value="CCOO1INTRODUCCION" style="color: black;">Introduccion al modulo GEDO</a></li>
            <li><a href="/verNotas/GEDO/1322" data-value="CCOO2MODULOS" style="color: black;">Flujo de tareas</a></li>
            <li><a href="/verNotas/GEDO/1323" style="color: black;">Tipos de produccion</a></li>
            <li><a href="/verNotas/GEDO/1324" style="color: black;">Ingreso al modulo GEDO</a></li>
            <li><a href="/verNotas/GEDO/13241" style="color: black;">Actividad</a></li>
          </ul>
        </div>
        <a href="#desktop" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Mis Tareas <span class="badge">(4)</span></p>
        </a>
        <div class="collapse" id="desktop">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1325"   style="color: black;" >Introduccion</a></li>
            <li><a href="#desktop1" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Buzon de tareas <span class="badge">(5)</span></a></li>
            <div class="collapse" id="desktop1">
              <ul class="list-group-item-text">
                  <li><a href="/verNotas/GEDO/1326" style="color: black;">Generacion de documentos</a></li>
                <li><a  href="/verNotas/GEDO/1327" style="color: black;">Caracteristicas de los tipos de documento</a></li>
                <li><a  href="/verNotas/GEDO/1328" style="color: black;">Generar un documento de tipo libre</a></li>
                <li><a  href="/verNotas/GEDO/1329" style="color: black;">Generar un documento de tipo importado</a></li>
              </ul>
            </div>
            <li><a  href="/verNotas/GEDO/1330" style="color: black;">Avisos</a></li>
            <li><a  href="/verNotas/GEDO/13291" style="color: black;">Actividad</a></li>
          </ul>
        </div>
        <a href="#escritorioUnico" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Tareas otros Usuarios <span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="escritorioUnico">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1331" style="color: black;">Tareas Pendientes</a></li>
              <li><a href="/verNotas/GEDO/13311" style="color: black;">Actividad</a></li>

          </ul>
        </div>
        <a href="#OtrasConf" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Tareas Supervisados <span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="OtrasConf">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1333" style="color: black;">Tareas Pendientes</a></li>
              <li><a href="/verNotas/GEDO/13331" style="color: black;">Actividad</a></li>

          </ul>
        </div>
        <a href="#comunicacionesOficiales" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Consulta<span class="badge">(3)</span></p>
        </a>
        <div class="collapse" id="comunicacionesOficiales">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1334" style="color: black;">Busqueda de documentos por usuario en reparticion</a></li>
              <li><a href="/verNotas/GEDO/1335" style="color: black;">Consulta de documentos por numero</a></li>
              <li><a href="/verNotas/GEDO/13351" style="color: black;">Actividad</a></li>

          </ul>
        </div>
        <a href="#solapaTareas" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Conclusiones<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="solapaTareas">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1336" style="color: black;">Conceptos aprendidos</a></li>

          </ul>
        </div>
           <a href="#evaluacion" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
        <p>Evaluacion Final CCOO <span class="badge">(1)</span></p>
      </a>
      <div class="collapse" id="evaluacion">
        <ul class="list-group-item-text">
            <li><a href="/verNotas/GEDO/1337" style="color: black;">Evaluacion Final</a></li>

        </ul>
      </div>
      <a href="#encuesta" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
        <p>Encuesta<span class="badge">(1)</span></p>
      </a>
      <div class="collapse" id="encuesta">
        <ul class="list-group-item-text">
            <li><a href="/encuesta" style="color: black;">Encuesta</a></li>
        </ul>
      </div>
 </div>
</div>

</aside>
{% endif %}
{% if session.nivelacion == 2 %}
<aside class="col-4" id="left">

  <div id="accordion">
  <div class="panel list-group">

      <a href="#web_dev" id="intro" data-parent="#accordion" data-toggle="collapse" class="list-group-item" >
          <p>Introduccion al modulo GEDO - Nivel 2<span class="badge">(1)</span></p>
      </a>
      <div class="collapse" id="web_dev">
        <ul class="list-group-item-text">
            <li><a href="/verNotas/GEDO/1338" style="color: black;">Introduccion al modulo GEDO - Nivel 2 </a></li>
        </ul> 
      </div>
        <a href="#desktop" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Confección de documentos<span class="badge">(5)</span></p>
        </a>
        <div class="collapse" id="desktop">
          <ul class="list-group-item-text">
              <li><a href="#desktop1" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Herramientas que facilitan la redaccion de un documento libre<span class="badge">(5)</span></a></li>
              <div class="collapse" id="desktop1">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/GEDO/1339" style="color: black;">Introduccion</a></li>
                  <li><a  href="/verNotas/GEDO/1340" style="color: black;">Importar documento Word</a></li>
                  <li><a  href="/verNotas/GEDO/1341" style="color: black;">Administrar plantillas</a></li>
                  <li><a  href="/verNotas/GEDO/1342" style="color: black;">Utilizar plantillas</a></li>
                  <li><a  href="/verNotas/GEDO/1343" style="color: black;">Actividad</a></li>

                </ul>
              </div>
              <li><a href="#desktop12" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Formulario Controlado<span class="badge">(2)</span></a></li>
              <div class="collapse" id="desktop12">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/GEDO/1344" style="color: black;">Generar un documento template</a></li>
                  <li><a  href="/verNotas/GEDO/1345" style="color: black;">Actividad</a></li>

                </ul>
              </div>
           

          </ul>
        </div>
        <a href="#escritorioUnico" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Firma Externa<span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="escritorioUnico">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1346" style="color: black;">Producción de un documento con Firma Externa              </a></li>
              <li><a href="/verNotas/GEDO/1347" style="color: black;">Actividad</a></li>
          </ul>
        </div>
        <a href="#documentoss" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Firma de documentos<span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="documentoss">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1348" style="color: black;">Introduccion</a></li>
              <li><a href="#otras" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Otras alternativas de firma<span class="badge">(5)</span></a></li>
              <div class="collapse" id="otras">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/GEDO/1349" style="color: black;">Firmar con Token</a></li>
                  <li><a  href="/verNotas/GEDO/1350" style="color: black;">Rechazar la firma de un documento</a></li>
                  <li><a  href="/verNotas/GEDO/1351" style="color: black;">Actividad</a></li>
                </ul>
              </div>
              <li><a href="#otras" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Firma conjunta de un documento<span class="badge">(5)</span></a></li>
              <div class="collapse" id="otras">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/GEDO/1352" style="color: black;">Introducción al proceso de firma conjunta</a></li>
                    <li><a  href="/verNotas/GEDO/1353" style="color: black;">Ejemplos de proceso de firma</a></li>
                  <li><a  href="/verNotas/GEDO/1354" style="color: black;">Seleccion de firmantes y asesores</a></li>
                  <li><a  href="/verNotas/GEDO/1355" style="color: black;">Proceso de Firma</a></li>
                  <li><a  href="/verNotas/GEDO/1356" style="color: black;">Actividad</a></li>
                </ul>
              </div>
            </ul>
        </div>
        <a href="#portafirma" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Porta Firma<span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="portafirma">
          <ul class="list-group-item-text">
              <li><a href="#intro" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Introduccion<span class="badge">(2)</span></a></li>
              <div class="collapse" id="intro">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/GEDO/1357" style="color: black;">Características del Porta Firma</a></li>
                  <li><a  href="/verNotas/GEDO/1358" style="color: black;">Actividad</a></li>
                </ul>
              </div>
              <li><a href="#portaf" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Porta Firma<span class="badge">(6)</span></a></li>
              <div class="collapse" id="portaf">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/GEDO/1359" style="color: black;">Habilitar y deshabiltar el Porta Firma</a></li>
                  <li><a  href="/verNotas/GEDO/1360" style="color: black;">Firmar todos los documentos</a></li>
                  <li><a  href="/verNotas/GEDO/1361" style="color: black;">Utilizar filtros en portafirma</a></li>
                  <li><a  href="/verNotas/GEDO/1362" style="color: black;">Firmar y Rechazar un documento</a></li>
                  <li><a  href="/verNotas/GEDO/1363" style="color: black;">Buzon de Tareas Terminadas</a></li>
                  <li><a  href="/verNotas/GEDO/1364" style="color: black;">Actividad</a></li>

                </ul>
              </div>
            </ul>
        </div>
        <a href="#consulta" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Consultas<span class="badge">(3)</span></p>
        </a>
        <div class="collapse" id="consulta">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1365" style="color: black;">Busqueda por dato propio</a></li>
              <li><a href="/verNotas/GEDO/1366" style="color: black;">Busqueda por numero especial</a></li>
              <li><a href="/verNotas/GEDO/1367" style="color: black;">Actividad</a></li>

          </ul>
        </div>


        <a href="#Conclusioness" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Conclusiones<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="Conclusioness">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1368" style="color: black;">Conceptos Aprendidos</a></li>

          </ul>
        </div>
        <a href="#evaluacionGEDO" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Evaluacion Final GEDO - Nivel 2<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="evaluacionGEDO">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/GEDO/1369" style="color: black;">Evaluacion Final</a></li>

          </ul>
        </div>
 </div>
</div>
</aside>
{% endif %}