{% extends "layout.html" %}

{% block title %}
   Cursos
{% endblock %}

{% block main %}
<br>
<br>
<br>
<br>

<hr>
{% if session.rol == 3 %}
<div class="table-responsive">
<table id="table" class="table table-stripped">

    <thead class="thead-dark">
        <th>Id</th>
        <th>Cuil</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Username</th>
        <th>Reparticion</th>
        <th>Rol</th>
        <th>Email</th>
        <th>Nivel</th>
        <th>Modificar</th>
        <th>Eliminar</th>
     </thead>
     <tfoot>
         </tfoot>
         <tbody>
             {% for users in userss %}
             <tr>
             <td>{{users["usu_Id"]}}</td>
             <td>{{users["usu_Cuil"]}}</td>
             <td>{{users["usu_Nombre"]}}</td>
             <td>{{users["usu_Apellido"]}}</td>
             <td>{{users["usu_Username"]}}</td>
             <td>{{users["usu_Reparticion"]}}</td>
             <td>{{users["usu_Rol"]}}</td>
             <td>{{users["usu_Email"]}}</td>
             <td>{{users["usu_Nivel"]}}</td>
             <td><button type="button" enable class="btn btn-primary text-right" style="height: 30px;" ><a style="color: white;" href="/modificarU/{{users["usu_Id"]}}">Modificar</a></button></td>
              {% if session.rol == 3 %}
             <td><button type="button" enable class="btn btn-danger text-right" style="height: 30px;" ><a style="color: white;" href="/eliminar/{{users["usu_Id"]}}">Eliminar</a></button></td>
              {% endif %}
            </tr>
             {% endfor %}
             <tr>
            
         </tbody>
</table>
</div>
{% else %}
<h3>No tienes permitido el acceso a esta seccion</h3>
{% endif %}
{% endblock %}



