{% if session.nivelacion == 1 %}
<aside class="col-md-4 col-sm-6 col-12" id="left">

    <div id="accordion">
    <div class="panel list-group">

        <a href="#web_dev" id="intro" data-parent="#accordion" data-toggle="collapse" class="list-group-item" >
            <p>Introduccion<span class="badge">(6)</span></p>
        </a>
        <div class="collapse" id="web_dev">
            <ul class="list-group-item-text">
              <li><a name="CCCOO1INTRODUCCION" href="/verNotas/CCOO/1121" data-value="CCOO1INTRODUCCION" style="color: black;">Introduccion a GDE</a></li>
              <li><a href="/verNotas/CCOO/1122" data-value="CCOO2MODULOS" style="color: black;">Modulos componentes de GDE</a></li>
              <li><a href="/verNotas/CCOO/1123" style="color: black;">Marco Normativo</a></li>
              <li><a href="/verNotas/CCOO/1124" style="color: black;">Estructura organizacional dentro del Sistema GDE</a></li>
              <li><a href="/verNotas/CCOO/1125" style="color: black;">Numero GDE</a></li>
              <li><a href="/verNotas/CCOO/11251" style="color: black;">Actividad</a></li>
            </ul>
          </div>
          <a href="#desktop" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Elementos comunes a todos los modulos de GDE <span class="badge">(3)</span></p>
          </a>
          <div class="collapse" id="desktop">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/CCOO/1126" style="color: black;">Acceso al sistema GDE</a></li>
              <li><a href="/verNotas/CCOO/1127" style="color: black;">Referencias Generales</a></li>
              <li><a href="/verNotas/CCOO/1128" style="color: black;">Tipos de campos utilizados en el Sistema GDE</a></li>

            </ul>
          </div>
          <a href="#escritorioUnico" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Escritorio unico <span class="badge">(5)</span></p>
          </a>
          <div class="collapse" id="escritorioUnico">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/CCOO/1129" style="color: black;">Tareas en el sistema GDE</a></li>
              <li><a href="/verNotas/CCOO/1130" style="color: black;">Solapa Inicio</a></li>
              <li><a href="/verNotas/CCOO/1131" style="color: black;">Solapa Admin. Notificacion</a></li>
              <li><a href="/verNotas/CCOO/1132" style="color: black;">Solapa Consulta Usuarios</a></li>
              <li><a href="/verNotas/CCOO/11321" style="color: black;">Actividad</a></li>

            </ul>
          </div>
          <a href="#primerosPasos" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Primeros pasos en GDE <span class="badge">(2)</span></p>
          </a>
          <div class="collapse" id="primerosPasos">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/CCOO/1133" style="color: black;">Pasos a realizar</a></li>
              <li><a href="/verNotas/CCOO/11331" style="color: black;">Actividad</a></li>
            </ul>
          </div>
          <a href="#OtrasConf" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Otras configuraciones en Datos Personales <span class="badge">(3)</span></p>
          </a>
          <div class="collapse" id="OtrasConf">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/CCOO/1134" style="color: black;">Gestion periodo de licencia</a></li>
              <li><a href="/verNotas/CCOO/1135" style="color: black;">Configuracion de los visualizadores de mis buzones</a></li>
              <li><a href="/verNotas/CCOO/11351" style="color: black;">Actividad</a></li>
            </ul>
          </div>
          <a href="/verNotas/CCOO/1136" class="list-group-item">Requerimientos de software</a>
          <a href="#comunicacionesOficiales" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Modulo de comunicaciones oficiales <span class="badge">(6)</span></p>
          </a>
          <div class="collapse" id="comunicacionesOficiales">
            <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1137" style="color: black;">Introduccion al modulo</a></li>
              <li><a href="/verNotas/CCOO/1138" style="color: black;">Flujo de tareas</a></li>
              <li><a href="/verNotas/CCOO/1139" style="color: black;">Ejemplos de Flujo de tareas</a></li>
              <li><a href="/verNotas/CCOO/1140" style="color: black;">Tipos de destinatarios</a></li>
              <li><a href="/verNotas/CCOO/1141" style="color: black;">Ingresar al modulo</a></li>
              <li><a href="/verNotas/CCOO/11411" style="color: black;">Actividad</a></li>
            </ul>
          </div>
          <a href="#solapaTareas" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Solapa Mis Tareas: Buzon de tareas pendientes <span class="badge">(6)</span></p>
          </a>
          <div class="collapse"  id="solapaTareas">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/CCOO/1142" style="color: black;">Introduccion</a></li>
              <li><a data-parent="#accordion" style="color: black; font-weight: bold;" style="color: black;">Inicio de documento</a></li>
              <div class="collapse" id="solapaTareas">
                <ul class="list-group-item-text">
                  <li><a href="/verNotas/CCOO/1143" style="color: black;">Características de los tipos de documentos</a></li>
                  <li><a href="/verNotas/CCOO/11431" style="color: black;">Inicio de documento</a></li>
                  <li><a href="/verNotas/CCOO/11432" style="color: black;">Enviar a producir</a></li>
                  <li><a href="/verNotas/CCOO/11433" style="color: black;">Seleccion de destinatarios internos</a></li>
                </ul>
              </div>
              <li><a data-parent="#accordion" style="color: black; font-weight: bold;" style="color: black;">Confeccionar documento</a></li>
              <div class="collapse" id="solapaTareas">
                <ul class="list-group-item-text">
                  <li><a href="/verNotas/CCOO/1144" style="color: black;">Confeccionar un documento</a></li>
                  <li><a href="/verNotas/CCOO/11441" style="color: black;">Enviar a revisar</a></li>
                  <li><a href="/verNotas/CCOO/11442" style="color: black;">Enviar a firmar</a></li>
                  <li><a href="/verNotas/CCOO/11443" style="color: black;">Adjuntar archivos de trabajo</a></li>
                  <li><a href="/verNotas/CCOO/11444" style="color: black;">Adjuntar archivos embebidos</a></li>
                  <li><a href="/verNotas/CCOO/11445" style="color: black;">Previsualizar documento</a></li>
                </ul>
              </div>
              <li><a href="/verNotas/CCOO/1145" style="color: black;">Revisar Documento</a></li>
              <li><a href="/verNotas/CCOO/1146" style="color: black;">Firmar documento</a></li>
              <li><a href="/verNotas/CCOO/1147" style="color: black;">Tareas durante periodo de licencia</a></li>
              <li><a href="/verNotas/CCOO/11471" style="color: black;">Actividad</a></li>
            </ul>
          </div>
          <a href="/verNotas/CCOO/1148" class="list-group-item">Solapa Bandeja CO</a>
        <a href="#cosupervisados" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Bandeja CO Supervisados <span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="cosupervisados">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1149" style="color: black;">Bandeja de CO</a></li>
            <li><a href="/verNotas/CCOO/11491" style="color: black;">Actividad</a></li>
          </ul>
        </div>
        <a href="/verNotas/CCOO/1150" class="list-group-item">Solapa Tareas otros usuarios</a>
        <a href="/verNotas/CCOO/1151" class="list-group-item">Solapa Tareas supervisadas</a>
        <a href="#consultas" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Consulta CO <span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="consultas">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1152" style="color: black;">Búsquedas de Comunicaciones Oficiales</a></li>
              <li><a href="/verNotas/CCOO/11521" style="color: black;">Busqueda de tareas</a></li>
              <li><a href="/verNotas/CCOO/11522" style="color: black;">Actividad</a></li>
          </ul>
        </div>
        <a href="/verNotas/CCOO/1153" class="list-group-item">Conceptos aprendidos</a>
        <a href="#evaluacion" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Evaluacion Final CCOO <span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="evaluacion">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1154" style="color: black;">Evaluacion Final</a></li>
          </ul>
        </div>
        <a href="#encuesta" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Encuesta<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="encuesta">
          <ul class="list-group-item-text">
              <li><a href="/encuesta" style="color: black;">Encuesta</a></li>
          </ul>
        </div>
   </div>
</div>
</aside>
{% endif %}
{% if session.nivelacion == 2 %}
<aside class="col-4" id="left">

  <div id="accordion">
  <div class="panel list-group">

      <a href="#web_dev" id="intro" data-parent="#accordion" data-toggle="collapse" class="list-group-item" >
          <p>Introduccion al modulo CCOO - Nivel 2                        <span class="badge">(1)</span></p>
      </a>
      <div class="collapse" id="web_dev">
        <ul class="list-group-item-text">
            <li><a href="/verNotas/CCOO/1155" style="color: black;">Destinatarios de comunicaciones oficiales</a></li>
        </ul> 
      </div>
        <a href="#desktop" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Inicio de Documento<span class="badge">(5)</span></p>
        </a>
        <div class="collapse" id="desktop">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1156" style="color: black;">Destinatarios de comunicaciones oficiales</a></li>
            <li><a  href="/verNotas/CCOO/1157" style="color: black;">Administrar Listas de Distribucion</a></li>
            <li><a  href="/verNotas/CCOO/1158" style="color: black;">Utilizar Listas de Distribucion</a></li>
            <li><a  href="/verNotas/CCOO/1159" style="color: black;">Destinatarios Externos</a></li>
            <li><a  href="/verNotas/CCOO/1160" style="color: black;">Actividad</a></li>

          </ul>
        </div>
        <a href="#escritorioUnico" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Sector Mesa <span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="escritorioUnico">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1161" style="color: black;">Funciones de la mesa</a></li>
              <li><a href="/verNotas/CCOO/1162" style="color: black;">Actividad</a></li>

          </ul>
        </div>
        <a href="#OtrasConf" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Solapa Bandeja CO <span class="badge">(4)</span></p>
        </a>
        <div class="collapse" id="OtrasConf">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1163" style="color: black;">Introduccion</a></li>
              <li><a href="/verNotas/CCOO/1164" style="color: black;">Respuesta a una comunicacion oficial</a></li>
              <li><a href="/verNotas/CCOO/1165" style="color: black;">Actividad</a></li>
              <li><a href="/verNotas/CCOO/1166" style="color: black;">Redirigir una comunicacion oficial</a></li>

          </ul>
        </div>

        <a href="#comunicacionesOficiales" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Conclusiones<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="comunicacionesOficiales">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1167" style="color: black;">Conceptos Aprendidos</a></li>

          </ul>
        </div>
        <a href="#comunicacionesOficialess" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Evaluacion Final CCOO - Nivel 2<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="comunicacionesOficialess">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/CCOO/1168" style="color: black;">Evaluacion Final</a></li>

          </ul>
        </div>
 </div>
</div>
</aside>
{% endif %}