{% if session.nivelacion == 1 %}
<aside class="col-md-4 col-sm-6 col-12" id="left">

    <div id="accordion">
    <div class="panel list-group">
        <a href="#web_dev" id="intro" data-parent="#accordion" data-toggle="collapse" class="list-group-item" >
            <p>Introduccion al modulo EE                        <span class="badge">(7)</span></p>
        </a>
        <div class="collapse" id="web_dev">
            <ul class="list-group-item-text">
              <li><a href="/verNotas/EE/1221" data-value="CCOO1INTRODUCCION" style="color: black;">Introduccion al modulo EE</a></li>
              <li><a href="/verNotas/EE/1222" data-value="CCOO2MODULOS" style="color: black;">Flujos de estados/Tareas</a></li>
              <li><a href="/verNotas/EE/1223" style="color: black;">Otros estados</a></li>
              <li><a href="/verNotas/EE/1224" style="color: black;">Inicio, recorrido, y archivo de un expediente</a></li>
              <li><a href="/verNotas/EE/1225" style="color: black;">Composicion de un componente electronico</a></li>
              <li><a href="/verNotas/EE/1226" style="color: black;">Funciones avanzadas de expedientes electronicos</a></li>
              <li><a href="/verNotas/EE/1227" style="color: black;">Ingreso al modulo EE</a></li>


            </ul>
          </div>
          <a href="#desktop" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Solapa Buzon de tareas <span class="badge">(6)</span></p>
          </a>
          <div class="collapse" id="desktop">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/EE/1228" style="color: black;">Introduccion al buzon de tareas</a></li>
              <li><a  href="#desktop2" data-parent="#accordion" data-toggle="collapse"style="color: black; font-weight: bold;" style="color: black;">Caratular un expediente <span class="badge">(4)</span></a></li>
              <div class="collapse" id="desktop2">
                <ul class="list-group-item-text">
                  <li><a href="/verNotas/EE/1229" style="color: black;">Alternativas para caratular</a></li>
                  <li><a href="/verNotas/EE/12291" style="color: black;">Crear solicitud de caratula y caratular solicitud pendiente</a></li>
                  <li><a href="/verNotas/EE/12292" style="color: black;">Caratulacion interna y externa</a></li>
                  <li><a href="/verNotas/EE/12293" style="color: black;">Actividad</a></li>
                </ul>
              </div>
              <li><a href="#desktop3" data-parent="#accordion" data-toggle="collapse"  style="color: black; font-weight: bold;" style="color: black;"  style="color: black;">Ejecutar un expediente <span class="badge">(6)</span></a></li>
              <div class="collapse" id="desktop3">
                <ul class="list-group-item-text">
                  <li><a href="/verNotas/EE/1230" style="color: black;">Las secciones de informacion de un expediente</a></li>
                  <li><a href="/verNotas/EE/12301" style="color: black;">Vincular documentos</a></li>
                  <li><a href="/verNotas/EE/12302" style="color: black;">Iniciar documento en EE</a></li>
                  <li><a href="/verNotas/EE/12303" style="color: black;">Realizar pase a usuario</a></li>
                  <li><a href="/verNotas/EE/12304" style="color: black;">Realizar pase a sector</a></li>

                  <li><a href="/verNotas/EE/12305" style="color: black;">Actividad</a></li>
                </ul>
              </div>
              <li><a href="#desktop4" data-parent="#accordion" data-toggle="collapse"  style="color: black; font-weight: bold;" black;">Otras funciones disponibles para el armado de un expediente <span class="badge">(3)</span></a></li>
              <div class="collapse" id="desktop4">
                <ul class="list-group-item-text">
                  <li><a href="/verNotas/EE/1231" style="color: black;">Asociar Documentos de Trabajo</a></li>
                  <li><a href="/verNotas/EE/12311" style="color: black;">Asociar Expediente</a></li>
                  <li><a href="/verNotas/EE/12312" style="color: black;">Actividad</a></li>
                </ul>
              </div>
              <li><a href="/verNotas/EE/1232" style="color: black;">Leer el contenido de un expediente</a></li>
              <li><a href="#desktop5" ata-parent="#accordion" data-toggle="collapse"  style="color: black;font-weight: bold;">Archivar un expediente <span class="badge">(2)</span></a></li>
              <div class="collapse" id="desktop5">
                <ul class="list-group-item-text">
                  <li><a href="/verNotas/EE/1233" style="color: black;">Enviar a guarda temporal</a></li>
                  <li><a href="/verNotas/EE/12331" style="color: black;">Actividad</a></li>
                </ul>
              </div>
            </ul>
          </div>
          <a href="#escritorioUnico" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Solapa Consultas <span class="badge">(2)</span></p>
          </a>
          <div class="collapse" id="escritorioUnico">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/EE/1234" style="color: black;">Busqueda de expedientes</a></li>
              <li><a href="/verNotas/EE/1235" style="color: black;">Consulta de expedientes por numero GDE</a></li>
              <li><a href="/verNotas/EE/12351" style="color: black;">Actividad</a></li>

            </ul>
          </div>
          <a href="#OtrasConf" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Solapa Tareas Supervisados <span class="badge">(2)</span></p>
          </a>
          <div class="collapse" id="OtrasConf">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/EE/1236" style="color: black;">Tareas Supervisados</a></li>
                <li><a href="/verNotas/EE/12361" style="color: black;">Actividad</a></li>

            </ul>
          </div>

          <a href="#comunicacionesOficiales" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Solapa Otros Usuarios <span class="badge">(1)</span></p>
          </a>
          <div class="collapse" id="comunicacionesOficiales">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/EE/1237" style="color: black;">Tareas Otros Usuarios</a></li>

            </ul>
          </div>
          <a href="#solapaTareas" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
            <p>Conclusiones<span class="badge">(1)</span></p>
          </a>
          <div class="collapse" id="solapaTareas">
            <ul class="list-group-item-text">
                <li><a href="/verNotas/EE/1238" style="color: black;">Conceptos aprendidos</a></li>
            </ul>
          </div>
            <a href="#evaluacion" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Evaluacion Final CCOO <span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="evaluacion">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/EE/1239" style="color: black;">Evaluacion Final</a></li>

          </ul>
        </div>
        <a href="#encuesta" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Encuesta<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="encuesta">
          <ul class="list-group-item-text">
              <li><a href="/encuesta" style="color: black;">Encuesta</a></li>
          </ul>
        </div>
   </div>
</div>

</aside>
{% endif %}
{% if session.nivelacion == 2 %}
<aside class="col-4" id="left">

  <div id="accordion">
  <div class="panel list-group">

      <a href="#web_dev" id="intro" data-parent="#accordion" data-toggle="collapse" class="list-group-item" >
          <p>Introduccion al modulo ee - Nivel 2<span class="badge">(1)</span></p>
      </a>
      <div class="collapse" id="web_dev">
        <ul class="list-group-item-text">
            <li><a href="/verNotas/EE/1240" style="color: black;">Introduccion al modulo EE - Nivel 2 </a></li>
        </ul> 
      </div>
        <a href="#desktop" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Tramitacion Conjunta<span class="badge">(5)</span></p>
        </a>
        <div class="collapse" id="desktop">
          <ul class="list-group-item-text">
              <li><a href="#desktop1" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Introduccion<span class="badge">(5)</span></a></li>
              <div class="collapse" id="desktop1">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/EE/1241" style="color: black;">Caracteristicas de la Tramitacion Conjunta</a></li>
                  <li><a  href="/verNotas/EE/1242" style="color: black;">¿Como funciona la Tramitacion Conjunta?</a></li>
                </ul>
              </div>
              <li><a href="#desktop12" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Tramitacion Conjunta<span class="badge">(4)</span></a></li>
              <div class="collapse" id="desktop12">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/EE/1243" style="color: black;">Iniciar una tramitacion conjunta</a></li>
                  <li><a  href="/verNotas/EE/1244" style="color: black;">Vincular documentos a un lote de expedientes que tramitan conjuntamente</a></li>
                  <li><a href="/verNotas/EE/1245" style="color: black;">Desvincular lote de expedientes que tramitan conjuntamente</a></li>
                  <li><a  href="/verNotas/EE/1246" style="color: black;">Actividad</a></li>
                </ul>
              </div>
          </ul>
        </div>
        <a href="#documentoss" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Fusion<span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="documentoss">
          <ul class="list-group-item-text">
              <li><a href="#otras" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Introduccion<span class="badge">(2)</span></a></li>
              <div class="collapse" id="otras">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/EE/1247" style="color: black;">Caracteristicas de la Fusion de Expedientes</a></li>
                  <li><a  href="/verNotas/EE/1248" style="color: black;">¿Como funciona la fusion?</a></li>
                </ul>
              </div>
              <li><a href="#otras2" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Fusion de expedientes<span class="badge">(2)</span></a></li>
              <div class="collapse" id="otras2">
                <ul class="list-group-item-text">
                  <li><a  href="/verNotas/EE/1249" style="color: black;">Fusionar Expedientes</a></li>
                  <li><a  href="/verNotas/EE/1250" style="color: black;">Actividad</a></li>
                </ul>
              </div>
            </ul>
        </div>
        <a href="#portafirma" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Pase en paralelo<span class="badge">(2)</span></p>
        </a>
        <div class="collapse" id="portafirma">
          <ul class="list-group-item-text">
              <li><a href="#intro" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Introduccion<span class="badge">(2)</span></a></li>
              <div class="collapse" id="intro">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/EE/1251" style="color: black;">Caracteristicas del Pase en Paralelo</a></li>
                  <li><a  href="/verNotas/EE/1252" style="color: black;">¿Como se realiza un pase en paralelo?</a></li>
                </ul>
              </div>
              <li><a href="#portaf" data-parent="#accordion" data-toggle="collapse" style="color: black; font-weight: bold;">Pase en Paralelo<span class="badge">(6)</span></a></li>
              <div class="collapse" id="portaf">
                <ul class="list-group-item-text">
                    <li><a href="/verNotas/EE/1253" style="color: black;">Realizar pase multiple</a></li>
                  <li><a  href="/verNotas/EE/1254" style="color: black;">Responder pase multiple cuando el destino es un usuario</a></li>
                  <li><a  href="/verNotas/EE/1255" style="color: black;">Responder pase multiple cuando el destino es un sector</a></li>
                  <li><a  href="/verNotas/EE/1256" style="color: black;">Finalizacion de Tareas en Paralelo</a></li>
                  <li><a  href="/verNotas/EE/1257" style="color: black;">Gestionar Tareas en Paralelo incompletas</a></li>
                  <li><a  href="/verNotas/EE/1258" style="color: black;">Actividad</a></li>

                </ul>
              </div>
            </ul>
        </div>
        <a href="#Conclusioness" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Conclusiones<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="Conclusioness">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/EE/1259" style="color: black;">Conceptos Aprendidos</a></li>

          </ul>
        </div>
        <a href="#evaluacionEE" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
          <p>Evaluacion Final EE - Nivel 2<span class="badge">(1)</span></p>
        </a>
        <div class="collapse" id="evaluacionEE">
          <ul class="list-group-item-text">
              <li><a href="/verNotas/EE/1260" style="color: black;">Evaluacion Final</a></li>

          </ul>
        </div>
 </div>
</div>
</aside>
{% endif %}